* {
  margin:0;
  padding: 0; 
  box-sizing: border-box
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 90%;
}

nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  width: 100%;
}

nav.show ul.grid{
  gap: 4rem;
}

h1{
  font: 700 2rem 'Poppins' , 'sans-serif';
  color: black;
}

h2{
  font: 700 2rem 'Poppins' , 'sans-serif';
  color: black;
}
nav.show .menu{ 
  display: grid;
  place-content: center;
}

img{
  width: 90%;
  height: auto;
}
.img1{
  width: 50%;
  height: auto;
}

a{
  text-decoration: none;
}


body {
  font: 400 1.2rem 'DM Sans', 'sans-serif';
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.logo h1{
  font: 750 3rem 'Poppins' , 'sans-serif';
  color: black;
}

.logo span{
  color: var(--base-color);
}


.title{
  font: 700 1.5rem 'Poppins' , 'sans-serif';
  color: var(--title-color);
}

ul{
  list-style: none;
}


/* cria página */
section{
  padding: 1.5rem 0;
}
.grid{
  display:grid;
  gap: 2rem;
}

.nome{
  font: 700 1.5, 'Dancing Script';
}

#home .imagem {
  margin-left: 2.5rem;
  margin-right: 2.5rem
}

#home .texto {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;

}

#home .texto h1{
  margin-bottom: 1rem;
}

#home .texto p{
  margin-bottom: 1rem;
}

#about .texto {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;

}

#about .texto h1{
  margin-bottom: 1rem;
}

#about .texto p{
  margin-bottom: 1rem;
}


#services .texto {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;

}

#services .texto h1{
  margin-bottom: 1rem;
}

#services .texto p{
  margin-bottom: 1rem;
}


#dev .imagem {
  margin-left: 2.5rem;
  margin-right: 2.5rem
}

#dev .texto {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;

}


#dev .texto h1{
  margin-bottom: 1rem;
  font: 400 2.5rem 'dancing script';
}

#dev .texto p{
  margin-bottom: 1rem;
  font: 700 1.5rem 'Poppins' , 'sans-serif';
}

.button { 
  background-color: var(--base-color); /*cor definida */
  color: var(--text-color-light);
  display: inline-flex; /* tamanho da caixinha */
  height: 3.5rem; /* altura */
  align-items: center;
  padding: 0 2rem;
  font: 500 1rem 'Dm Sans', sans-serif;
}

.button:hover{
  background: var(--base-color-alt) ;
}

.divider {
  height: 1px;
  background: linear-gradient( /* linear-gradient = define os parametros da divisória*/
     270deg,
     hsla(var(--hue),36%,57%,1) 0%,
     hsla(var(--hue),65%,88%,0.34) 100%
  );
}

nav .menu{
  opacity: 0;
  visibility: hidden;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;
  
  position: absolute;
  right: 1.5rem;
  
}

.toggle {
  font-size: 1.5rem;
  color: var(--base-color); 
  cursor: pointer; 
    
 } 

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
}

nav ul li{
  text-align: center;
}

nav ul li a{
  transition: color 0.4s;
  position: relative;
}

nav ul li a:hover {
  color: var(--base-color);
}

nav ul li a:hover::after{
  content:"";
  width: 100%;
  height: 2px;
  background: var(--base-color);
  position: absolute;
  left: 0;
  bottom: -0.8rem;
}



nav.show .menu{
  opacity: 1;
  visibility: visible;
  background: white;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed
}
#header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid #e4e4e4;
  background-color: var(--body-color);
  width: 100%;
}



#header{
 color: rgb(84, 235, 14)
}
 .justify-text{
   text-align: justify;

 }

 .card{
   padding: 3.625rem 2rem;
   box-shadow: var(--base-color);
   border-bottom: .25rem solid var(--base-color);
   border-radius: .25rem .25rem 0 0;
   text-align: center;
 }

 .card i {
   display: block;
   margin-bottom: 1.5rem;
   font-size: 5rem;
   color: var(--base-color);
 }

/*declarando variavel, sua impotancia é para, tem que ter nomes */
:root{

    --header-height: 4.5rem;
  
    /* colors */
    --hue: 159;
    /* HSL color mode 
    
    nav: serve para modificar partes especificas do código
   sem modificar o visual
   a = links
   p = paragrafos 
   span = modificar parte especifica do textio*/
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0, 0%, 98%);
  }
  